<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-card>
      <ion-label style="font-size: 20px; font-family: 'Arial'; color: teal">
        Enter your Email
      </ion-label>
      <ion-input
        type="email"
        placeholder="@gmail.com"
        formControlName="email"
      ></ion-input>
      <ion-button shape="round" expand="full" color="dark" (click)="search()">
        Search
      </ion-button>
    </ion-card>
  </form>

  <ng-container *ngIf="IsUserFound == true">
    <form [formGroup]="form2">
      <ion-card>
        <ion-label style="font-size: 20px; font-family: 'Arial'; color: teal"
          >New Password</ion-label
        >
        <ion-input type="text" formControlName="password"></ion-input>
        <ion-label style="font-size: 20px; font-family: 'Arial'; color: teal"
          >Confirm Password</ion-label
        >
        <ion-input type="text" formControlName="confirmPassword"></ion-input>

        <ion-button shape="round" color="dark" (click)="savePassword()">Save</ion-button>
      </ion-card>
    </form>
  </ng-container>

  <!-- <ng-container *ngIf="IsUserFound && search()">
    <p>Details not found</p>
  </ng-container> -->
</ion-content>
